body {
    width: 100vW;
    overflow-x: hidden;
    font-family: "Oswald";
    font-weight: 400;
    color: black;
}

main {
    max-width: 60%;
    margin: auto;
}

img {
    max-width: 60vw;
    max-height: 50vh;
    margin-left: 20px;
}

h1 {
    text-transform: uppercase;
}

.autor {
    font-style: normal;
    font-size: 0.9em;
    font-weight: normal;
}

time {
    font-size: 0.9em;
}

time::before {
    content: ' - ';
    font-style: normal;
}

p {
    font-size: 1.1em;
    margin-top: 20px;
    margin-left: 20px;
}

q {
    margin-left: 50px;
    font-style: italic;
    font-weight: 300;
}

q::before {
    content: '"';
}

q::after {
    content: '"';
}

b {
    font-weight: 900;
}

em {
    font-style: italic;
}

strong {
    text-transform: uppercase;
    font-style: normal;
}

h1::first-letter {
    border-bottom: red 5px solid;
}

h2::first-letter {
    border-bottom: rgba(255, 0, 0, 0.75) 3px solid;
}

h3::first-letter {
    border-bottom: rgba(255, 0, 0, 0.5) 2px solid;
}

h4::first-letter {
    border-bottom: rgba(255, 0, 0, 0.25) 2px solid;
}

s {
    text-decoration: line-through;
}

.moznosti {
    display: flex;
    flex-direction: column;
}

u {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(14, 14, 133);
}

a:hover {
    text-decoration: underline;
}

small {
    font-size-adjust: 0.5em;
}

i {
    font-style: italic;
    font-weight: 100;
}

ul,
ol {
    list-style-type: disc;
}

@media only screen and (max-width: 900px) {
    main {
        max-width: 90%;
    }

    img {
        max-width: 70vw;
        max-height: 50vh;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 1.5em;
    }
}

@media print {

    ul,
    ol {
        break-inside: avoid-page;
    }

    p {
        text-align: justify;
    }
}